<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <h1>Gilbert the cat</h1> 
 <ion-card>
   <ion-card-header>Skat Cat</ion-card-header>
   <ion-card-content>
     <p>I am presently expierncing life at a rate of several WTF's per hour.</p>
   </ion-card-content>
   <ion-toolbar>
     <ion-buttons slot="end">
       <ion-button (click)="catPower()">push</ion-button>
     </ion-buttons>
     <!-- Default Checkbox -->
<ion-checkbox></ion-checkbox>

<!-- Disabled Checkbox -->
<ion-checkbox disabled="true"></ion-checkbox>

   </ion-toolbar>
  </ion-content>
 </ion-card>

